<launch>



  <!-- <arg name="map" default="/move_base/global_costmap/costmap/"/> -->
  <!-- <arg name="is_costmap" default="true"/> -->

  <!-- <include file="$(find perceive_tabletop_action)/launch/perceive_tabletop_params.launch"/> -->

  <!-- <include file="$(find perceive_tabletop_action)/launch/view_planning.launch"> -->
  <!--   <arg name="map" value="$(arg map)"/> -->
  <!--   <arg name="is_costmap" value="$(arg is_costmap)"/> -->
  <!-- </include> -->

  <node name="object_search_action" pkg="object_search_action" type="object_search_server.py" output="screen">
    <param name="camera" type="string" value="/camera/depth_registered/points"/>
  </node>
  

</launch>
