
<launch>

	<arg name="models_dir" default="~/data/Cat200_ModelDatabase__small" />
	<arg name="training_dir" default="~/data/Cat200_ModelDatabase__small_trained" />
	
	<arg name="descriptor_name" default="esf" />
	<arg name="nn" default="13" />
	<arg name="chop_z" default="3.5" />
	<arg name="seg_type" default="1" /> 
	<arg name="camera_frame" default="/head_xtion_depth_optical_frame" /> 
	<arg name="base_frame" default="/base_footprint" /> 
	<arg name="min_cluster_size" default="400" /> 
	<arg name="sensor_noise_max" default="0.01" />
	<arg name="table_range_min" default="0.6" />
	<arg name="table_range_max" default="0.75" />
	<arg name="max_angle_plane_to_ground" default="15.0" />

	<arg name="segmenation_models_filename" default="$(find object_rgbd_segmenter)/data/ST-TrainAll.model.txt" />
	<arg name="segmentation_scaling_filename" default="$(find object_rgbd_segmenter)/data/ST-TrainAll.scalingparams.txt" />

	<!-- classifier service -->
	<node pkg="object_classifier" type="object_classifier_node" name="classifier_service" output="screen">
		<param name="models_dir" value="$(arg models_dir)" type="string"/>
		<param name="training_dir" value="$(arg training_dir)" type="string"/>
		<param name="descriptor_name" value="$(arg descriptor_name)" type="string"/>
		<param name="nn" value="$(arg nn)" type="int"/>
		<param name="chop_z" value="$(arg chop_z)" type="double"/>
		<param name="camera_frame" value="$(arg camera_frame)" type="string"/>
	</node>

	<!-- segmentation service -->
	<!-- <node pkg="object_rgbd_segmenter" type="object_rgbd_segmenter_service" name="object_segmenter_service" output="screen" launch-prefix="xterm -e">
		<param name="model_filename" value="$(arg segmenation_models_filename)" type="string"/>
		<param name="scaling_filename" value="$(arg segmentation_scaling_filename)" type="string"/>
		<param name="chop_z" value="$(arg chop_z)" type="double"/>
	</node> --> 

	<!-- pcl segmentation Service -->
	<node pkg="pcl_object_segmenter" type="pcl_object_segmenter_service" name="object_segmenter_service" output="screen">
		<param name="seg_type" value="$(arg seg_type)" type="int"/>
		<param name="chop_z" value="$(arg chop_z)" type="double"/>
		<param name="camera_frame" value="$(arg camera_frame)" type="string"/>
		<param name="base_frame" value="$(arg base_frame)" type="string"/>
		<param name="min_cluster_size" value="$(arg min_cluster_size)" type="int"/>
                <param name="sensor_noise_max" value="$(arg sensor_noise_max)" type="double"/>
                <param name="table_range_min" value="$(arg table_range_min)" type="double" />
                <param name="table_range_max" value="$(arg table_range_max)" type="double" />
		<param name="max_angle_plane_to_ground" value="$(arg max_angle_plane_to_ground)" type="double" />
	</node>
</launch>
