<launch>
  <arg name="robot" default='real'/> 
  <param name="robot" type="string" value="$(arg robot)" />    

  <!--- sampling viewcones --> 
  <param name="num_of_nav_goals" type="int" value="200" />  

  <param name="min_radius" type="double" value="0.1" />  
  <param name="max_radius" type="double" value="1.8" />  

  <!--- evaluating viewcones --> 
  <param name="viewcone_length" type="double" value="2.3" />  
  <param name="viewcone_width" type="double" value="2.0" />  

  <param name="coverage_total" type="double" value="0.8" />  
  <param name="coverage_avg" type="double" value="3.0" />  

  <!-- sampling trajectory  -->  
  <param name="num_of_trajectories" type="int" value="50" />  

</launch>
