<launch>

  <arg name="map" default="/projected_map"/>

  <include file="$(find perceive_tabletop_action)/launch/perceive_tabletop_params.launch"/>

  <include file="$(find perceive_tabletop_action)/launch/view_planning.launch">
    <arg name="map" value="$(arg map)"/>
  </include>

  <node name="perceive_tabletop_action" pkg="perceive_tabletop_action" type="perceive_tabletop_action_server.py" output="screen"/>

</launch>
